@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700&display=swap');

*{
	padding: 0;
	margin: 0;
}

body{
	font-family: 'Poppins', sans-serif;;
	background-color: #1c1c1c;
}

/* header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: honeydew;
	width: 100%;
	padding: 10px 20px;
	min-height: 50px;
	border-bottom-width: 2px;
    border-bottom-style: solid;
	border-image: linear-gradient(to right, red, orange) 30;
	position: fixed;
    transition: 0.3s ease;
    z-index: 3;
    top: -95px;
    background-color: #1c1c1c;
} */

header ul, footer ul{
	list-style: none;
}
/* header ul li{
	display: inline;
}
header a{
	text-decoration: none;
	color: honeydew;
	padding-right: 50px;
	text-transform: uppercase;
}

header a:hover{
	color: rgb(184, 111, 43);
} */

.container{
	text-align: center;
}

.brand-name{
	cursor: pointer;
	color: rgb(184, 111, 43);
}

.introduction-body{
	display: flex;
    height: 100vh;
    background-color: #0b0c10;
    min-height: 100vh;
    align-items: center;
    padding: 0 4.6rem;
    font-weight: 400;
    z-index: -1;
    color: #cfcf;
}

.introduction-text{
	text-align: center;
	height: auto;
	
}

.introduction-text h1{
	font-size: 1.4rem ;
	margin-bottom: 20px;
}

.introduction-text p{
	padding: 5px;
    margin-bottom: 15px;
}

span{
	display: inline-block;
}

.introduction-body a{
	text-decoration: none;
	color: cornsilk;
	text-transform: uppercase;
	font-size: 1.2rem;
	background: linear-gradient(to right, salmon 50%, #0b0c10 50%);
	background-position: right bottom;
	color: salmon;
	background-size: 200% 100%;
    font-weight: 600;
    border: 1px solid salmon;
    padding: 5px 10px;
}
.introduction-body a:hover{
	background-position: left bottom;
	transition: 0.2s all ease;
}

.introduction-body a:hover{
	color: cornsilk;
	transition: 0.6s all ease-in-out;
}

.name{
	font-size: 2rem;
	color: brown;
}

/* .image{
	background-image: url(../images/background.jpg);
	background-size: cover;
	min-height: 100vh;
	width: 100%;
	height: auto;
	z-index: -1;
	filter: blur(2px);
	-webkit-filter: blur(2px);
} */
h2{
	color: burlywood;
	margin: auto;
    margin-bottom: 20px;
    width: 80%;
    padding: 20px;
    font-size: 2rem;
    text-transform: uppercase;
}

.about-box{
	display: grid;
    grid-template-columns: 1fr 1fr;
	grid-template-rows: auto;
	min-height: 100vh;
    height: auto;
}
	
.about-box h2{
	grid-row: 1;
    grid-column: 1/3;
}

 .imagelogo{
	border-radius: 40px;
	background: rgba(0, 0, 0, 0);
	z-index: 2;
	margin: auto;
    padding: 10px;
	width: 70%;
	grid-row: 2;
}

.img-select{
	box-shadow: 0 5px 30px 15px;
    border-radius: inherit;
    height: auto;
    width: 70%;
} 

/*.sec-text{
	/* background-color: rgb(0,0,0); /* Fallback color */
	/*background-color: rgba(0,0,0, 0.4); */
 /* }   */
 /* Black w/opacity/see-through */
	/* color: lightgray;
	position: absolute;
	font-size: 1.1rem;
	font-weight: 500;
	top: 180%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 1;
	width: 80%;
	padding: 15px;
} */
.sec-text{
	color: #cfc;
    font-size: 1.3rem;
    margin: auto;
    padding: 20px;
	width: 80%;
	grid-row: 2;
}

.sec-project{
	background-color: #0b0c10 ;
	box-sizing: border-box;
	color: #cfc;
	height: auto;
}

.project-box{
	margin: auto;
    padding: 20px;
    width: 80%;
    font-size: 1.2rem;

}

.sec-project h2, p{
	padding-bottom: 20px;
}

.box-contain{
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
}

.box{
	margin: 5px;
	width: 100px;
	height: 100px;
	background-color: lightgrey;
}

.sec-skills{
	background-color: rgb(255, 255, 250);
	min-height: 50vh;
    height: 100%;
	padding: 20px 20px;
	font-size: 30px;
}

.img-skill{
	padding: 50px 50px;
	text-align: center;
}

.img-skill img{
	padding: 0 10px;
}


footer{
	border-top-width: 3px;
    border-top-style: solid;
	border-image: linear-gradient(to left, red, orange) 30;
	text-align: center;
	margin: auto;
	/* padding: 20px; */
	color: lightgray;
}

.footer-box{
	margin: 0 10px;
	padding: 20px;
}
footer ul{
	display: flex;
    justify-content: center;
	align-items: center;
}

footer ul li{
	margin:0 10px;
}
footer a{
	display: inline-block;
	justify-content: center;
	text-decoration: none;
	color: rgba(255, 255, 230, 0.5);
	font-size: 1.7rem;
	margin: 20px;
}
footer a:hover{
	position: relative;
	transform: translateY(-3px);
	color: rgba(255, 255, 230, 1);
	transition: 0.2s all ease-in-out;
}

.loader-wrapper {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #1c1c1c;
    z-index: 9999;
}

.loader {
    height: 2px;
    background-color: lightgray;
    position: absolute;
    z-index: 9999;
}
.loading{
	color: lightgray;
	z-index: 9999;
	position: absolute;
	top: 55%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: block;
}


@media screen and (min-width: 600px){
	.introduction-text{
		text-align: left;
	}
	.introduction-text h1{
		font-size: 1.9rem;
	}
	.name{
		font-size: 2.2rem;
	}
	.introduction-text a{
		font-size: 1.4rem;
	}
}
@media screen and (max-width: 600px){
	.about-box{
		grid-template-columns: 1fr;
	}
	.sec-text{
		grid-row: 3;
		font-size: 1.1rem;
	}
	.introduction-text h1{
		font-size: 2.2rem;
	}
	.name{
		font-size: 2.3rem;
	}
	.introduction-text a{
		font-size: 1.4rem;
	}
}

@media screen and (max-width: 320px){
	.introduction-body{
		padding: 0 3.8rem;
	}
}
